* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}


/* Header start section */
.header {
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px 40px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 1;
}

.header .logo {
    height: 40px;
    padding-left: 30px;
}

/* Nav bar section */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    list-style: none;
    padding: 0 40px;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active {
    color: #088178;
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 50%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -9px;
    left: 32px;
}

.mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* SHOPPING CART PAGE SECTION */


.shopping_cart_page_section {
    background-image: url(img/about/banner.png);
    height: 40vh;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.shopping_cart_page_section h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.shopping_cart_page_section p {
    font-size: 18px;
}


/* Cart page cart section */

.cart {
    margin: 80px;
}

.cart table thead td {
    border: 1px solid #E3E6F3;
    border-left: none;
    border-right: none;
    padding: 20px;
}

.cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

.cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

.cart table td:nth-child(1) {
    width: 100px;
}

.cart table td:nth-child(2),
.cart table td:nth-child(4),
.cart table td:nth-child(5),
.cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

.cart thead {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px
}

.cart tbody tr td a {
    text-decoration: none;
}

.cart tbody tr td i {
    margin: 25px 20px;
}

.cart tbody tr td img {
    width: 60px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.cart tbody tr td p {
    color: gray;
}

.cart tbody tr td .price,
.cart tbody tr td .subtotal {
    color: gray;
}

.cart tbody tr td input {
    width: 50px;
    padding: 8px;
}

/* Apply coupon section */

.apply_coupon {
    width: 80%;
    margin: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.apply_coupon .apply_coupon_input {
    width: 40%;
}

.apply_coupon .apply_coupon_input h1 {
    margin-bottom: 15px;
}

.apply_coupon .apply_coupon_input input {
    padding: 9px;
    color: gray;
    width: 350px;
    border: 1px solid #E3E6F3;
    margin-left: 7px;
}

.apply_coupon .apply_coupon_input button {
    background-color: #088178;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: 5px;
    width: 80px;
    border-radius: 5px;
}

/* Cart total section */
.cart_total_details {
    width: 40%;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

.cart_total_details h3 {
    padding-bottom: 15px;
}

.cart_total_details table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.cart_total_details table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

.cart_total_details button {
    padding: 10px;
    background-color: #088178;
    color: #fff;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
}

/*  News letter section */

.news_letter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    background-color: #041e42;
    color: white;
    width: 100%;
    height: 140px;
    padding: 55px;
}

.news_letter .news_letter_text h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.news_letter .news_letter_text h3 {
    color: gray;
    font-weight: 400;
}

.news_letter .news_letter_text span {
    color: yellow;
}

.news_letter_email .email_container {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.news_letter_email #email {
    width: 350px;
    padding: 24px;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.news_letter_email button {
    padding: 24px;
    border: none;
    outline: none;
    background-color: #fff;
    color: rgb(13, 13, 242);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    background-color: #088178;
    color: white;
}

/* Footer section */

/* Section1 */
.footer_container {
    width: 100%;
    padding: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer_contact_section1 h4 {
    font-weight: 400;
    font-size: 20px;
    margin-top: 27px;
}

.footer_contact_section1 span {
    color: gray;
}

.footer_contact_section1 p {
    cursor: pointer;
    margin: 17px 0;
}

.footer_contact_section1 .section1_icons {
    margin-top: 24px;
}

.footer_contact_section1 .section1_icons i {
    cursor: pointer;
    margin: 0 3px;
    transition: color 0.3s ease;
    /* Adding transition for smooth color change */
}

.footer_contact_section1 .section1_icons i:hover {
    filter: brightness(1.5);
}

/* Section 2 & Section 3*/

.footer_contact_section2,
.footer_contact_section3,
.footer_contact_section4 {
    margin-bottom: 20px;
    cursor: pointer;
}

.footer_contact_section2 h4,
.footer_contact_section3 h4 {
    font-weight: 400;
    margin-bottom: 18px;
    font-size: 18px;
}

.footer_contact_section2 ul li,
.footer_contact_section3 ul li {
    list-style: none;
    margin: 22px 0;
    color: gray;
}

/* Section 4 */
.footer_contact_section4 h4 {
    font-weight: 400;
    margin-bottom: 18px;
    font-size: 18px;
}

.footer_contact_section4 p {
    color: gray;
    margin: 10px 0px;
}

.footer_contact_section4 img {
    border: 1px solid #088178;
    margin: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
}

.footer .end_footer_text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: gray;
    margin-bottom: 40px;
}

/* Making it responsive */


/* FOR MEDIUM SCREEN DEVIVES LIKE IPAD  */
@media (max-width: 799px) {

    /* Nav bar section responsive */
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -400px;
        /* Initial position is off-screen to the right */
        height: 100vh;
        width: 400px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    .navbar li {
        margin-bottom: 25px;
    }

    .navbar.active {
        right: 0;
        /* When active, move to the right to become visible */
    }

    .mobile {
        display: flex;
        align-items: center;
    }

    .mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
        color: black;
    }

    #remove_mobile_bag {
        display: none;
    }


    /* Main hero section responsive */

    .hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 47%;
    }

    /* Cart section */

    .cart {
        overflow-x: auto;
    }

    .apply_coupon {
        width: 70%;
        margin: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .apply_coupon .apply_coupon_input input {
        width: 220px;
    }

    .apply_coupon .apply_coupon_input button {
        margin-top: 20px;
    }

    .apply_coupon {
        width: 75%;

    }

    /* News letter section */
    .news_letter {
        flex-direction: column;
        text-align: left;
        /* Change this to "left" for left alignment */
        align-items: flex-start;
        /* Change this to "flex-start" */
        height: 250px;
    }

    /* News letter */
    .news_letter .news_letter_text h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .news_letter .news_letter_text h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .news_letter_email #email {
        width: 100%;
        /* Make the input full-width within the newsletter section */
        padding: 21px;
        font-size: 18px;
        margin-top: 10px;
    }

    .news_letter_email button {
        margin-top: 10px;
        width: 150px;
        padding: 24px;
    }


    /* Footer section */

    .footer_container {
        width: 100%;
        padding: 70px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .footer_contact_section1 {
        margin-right: 20px;
    }

    .footer_contact_section2 {
        margin-left: 20px;
    }

    .footer_contact_section3 {
        margin-left: 20px;
    }

    .footer_contact_section4 {
        margin-top: 40px;
    }

    .footer_contact_section1 span {
        font-size: 14px;
    }
}

/* For mobile devices */
@media (max-width: 477px) {

    /*  Nav bar section */
    .header {
        padding: 10px;
        /* Adjust the padding as needed */
    }

    .logo {
        float: left;
        margin-left: -20px;
    }

    .navbar {
        float: right;
        margin-top: 10px;
        /* Adjust the margin as needed */
    }

    /* Hero section */

    .hero {

        padding: 0 2px;
        background-position: 55%;
    }

    .hero h2 {
        font-size: 27px;
    }

    .hero h4 {
        font-size: 27px;
    }

    .hero h1 {
        font-size: 43px;
    }

    .hero p {
        font-size: 20px;
    }

    .feature_box {
        width: calc(50% - 40px);
        /* Calculate width for two features in a row with spacing */
    }

    /* Cart detail section */

    .apply_coupon {
        flex-direction: column;
        margin: 30px 20px;
    }

    .apply_coupon .apply_coupon_input {
        width: 100%;
        margin-top: 30px;
    }

    .flexy {
        display: flex;
    }

    .apply_coupon .apply_coupon_input input {
        padding: 3px;
        height: 35px;
    }

    .apply_coupon .apply_coupon_input button {
        margin: 0 0 20px 10px;
    }

    .cart {
        margin: 20px 10px;
    }

    /* Cart total details */

    .cart_total_details {
        width: 100%;
        padding: 25px;
       margin: 10px 0 0 5px;
    }

    /* News letter section */

    .news_letter {
        justify-content: flex-start;
        padding: 40px 30px;
    }

    .news_letter .news_letter_text h2 {
        font-size: 25px;
    }

    .news_letter .news_letter_text h3 {
        font-size: 17px;
    }

    .news_letter_email #email {
        width: 200px;
        font-size: 15px;
    }

    .news_letter_email button {
        margin-top: 10px;
        width: 100px;
        padding: 22px;
    }

    /* Footer section */

    .footer_container {
        padding: 20px;
    }

    .footer_contact_section1 .section1_icons {
        margin-top: 18px;
        margin-bottom: 20px;
    }

    .footer_contact_section2 {

        margin: 0;
        padding-top: 30px;
    }

    .footer_contact_section3 {
        padding-top: 40px;
    }


}